<div class ="pokemon pokemon--red">
    <div class ="pokemon__circle">
        <img class ="pokemon__image" src="{{image}}" alt="{{name}}">
    </div>
    <p class ="pokemon__number">#00{{id}}</p>
    <h2 class ="pokemon__name">{{name}}</h2>
    <p class ="pokemon__type">Type: {{type}}</p>
</div>